.about {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.about-container {
    width: 90%;
    height: 75%;
    margin: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.box {
    height: 80%;
    width: 29%;
    border-radius: 20px;
    float: left;
    color: white;
    text-align: center;
    margin: 10px;
    border: 7px solid black;
}

.box:hover {
    cursor: pointer;
}

.cell-header {
    display: table-cell;
    font-size: 30px;
    padding-top: 5%;
}

.cell-header:hover {
    color: cadetblue;
    cursor: pointer;
}

.cell-header-container {
    width: 100%;
    height: 15%;
    background-color: #1f3644;
    margin-top: 90%;
    display: table;
}

.sport-front {
    background-image: url('./handball.png');
    background-size: cover;
}

.facts-front {
    background-image: url('./background.jpg');
    background-size: cover;
}

.it-skills-front {
    background-image: url('./WebsiteImage.PNG');
    background-size: 100%;
}

.flippy-container {
    width: 100%;
    height: 100%;
}

.flippy-front {
    padding: 0em !important;
}

.flippy-back {
    padding: 0em !important;
}

.flip-card {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 10px;
}

.back {
    width: 100%;
    height: 100%;
    background-color: #1f3644;
}
