.App {
  float: left;
  position: absolute;
  top: 10px; /* Header Height */
  bottom: 10px; /* Footer Height */
  width: 100%;
}

.sidebar {
  width: 30%;
  height: 100%;
  margin: 5px;
}

.mainPanel {
  width: 70%;
  height: 100%;
  margin: 5px;
}
