.App {
  float: left;
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  height: 100%;
  margin: 5px;
}

.mainPanel {
  width: 70%;
  height: 100%;
  margin: 5px;
}
