.App {
  float: left;
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100%;
  overflow: hidden;
  background-image: url('./components/mainPanel/MarcEdited.jpg');
  background-size:100% 100%;
  background-position: center; 
}
